        body {
            font-family: 'Arial', sans-serif;
            /*background-color: #f4f4f4;*/
            margin: 0;
            padding: 20px;
            color: #333;
            text-align: center;
			min-height: 100vh;
			box-sizing: border-box; 
        }





#vanta-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* important */
  z-index: -1;
}


		.containermax {
			max-width: 700px;
			margin: auto;
			background: rgba(255, 255, 255, 0.25); /* semi-transparent white */
			padding: 20px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			border-radius: 10px;
			position: relative;
		}

		.container {
            max-width: 400px;
			margin-left: auto;
			margin-right: auto;

        }

        h1, h2 {
            color: #333;
        }

        .file-input-wrapper {
            margin-bottom: 10px;
            /*border: 1px solid #ddd;*/
			border: 1px solid rgba(221, 221, 221, 0.3);
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
            border-radius: 5px;
            /*background-color: #f9f9f9;*/
			background-color: rgba(255, 255, 255, 0.25);
        }
		
		
.clipboard {
    max-width: 400px;
    display: flex;
   /* background-color: #f9f9f9;*/
	background-color: rgba(255, 255, 255, 0.25);
    /* border: 1px solid #ddd;*/
	border: 1px solid rgba(221, 221, 221, 0.3);	
    padding: 4px;
    text-align: right;
	border-radius: 4px; /* Border radius */
	margin-bottom: 5px; /* Margin bottom */
}

#clipboard-text {
    flex: 1;
    height: 50px;
    max-width: 300px;
	min-height:40px;
	    background: rgba(255, 255, 255, 0.25); /* semi-transparent white background */

}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.clipboard-button-clear,
.clipboard-button-update,
.clipboard-button-copy {
	width:75px;
   /* border: 1px solid #ddd;*/
	
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    /*background-color: #f9f9f9;*/
	
	background-color: rgba(255, 255, 255, 0.25);
	border: 1px solid rgba(221, 221, 221, 0.3);	
    flex: 1; /* Make buttons fill entire height */
	font-size: 15px;
}

.clipboard-button-clear {
    margin: 0 0 0 5px;
}
.clipboard-button-update {
    margin: 5px 0 0 5px;
}
.clipboard-button-copy {
    margin: 5px 0 0 5px;
}

.copied::after {
    content: "Copied";

}



        #file-input {
            display: none;
        }

        #progress-bar {
            width: 0%;
            height: 20px;
            background-color: #4CAF50;
            text-align: center;
            line-height: 20px;
            color: white;
            margin-bottom: 10px;
            border-radius: 5px;
            display: none;
        }

        .file-list {
            list-style: none;
            padding: 0;
        }

        .file-list li {
            background: #f9f9f9;
            border: 1px solid #ddd;
            padding: 5px;
            margin-bottom: 5px;
            border-radius: 4px;
        }

        .file-list li a {
            text-decoration: none;
            color: #333;
        }

        .file-list li a:hover {
            color: #4CAF50;
        }

        /* Responsive Design */
        @media (max-width: 400px) {
            .container {
                width: 100%;
                padding: 10px;
                box-shadow: none;
            }

            body {
                padding: 10px;
            }
        }
		

	
		
		
		
		h2 {
    font-size: 22px; /* Example size */
}

		
		
ul {
    list-style-type: none; /* Removes bullets */
    padding-left: 0; /* Removes padding, if any */
    text-align: right; /* Align the list items to the right */
	margin-top:0;
}

ul li {
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically */
    /*background-color: #f9f9f9;  Background color */
	background-color: rgba(255, 255, 255, 0.25);
    /*border: 1px solid #ddd;  Border */
	border: 1px solid rgba(221, 221, 221, 0.3);
    padding: 4px; /* Padding */
    margin-bottom: 5px; /* Margin bottom */
    border-radius: 4px; /* Border radius */
}

ul li a {
    flex-grow: 1; /* Allow link to grow */
    text-decoration: none; /* Remove underline from links */
    color: #333; /* Text color */
}

ul li a:hover {
    color: #4CAF50; /* Text color on hover */
}


        .icon {
          font-size: 14px;

            margin-left: 4px;
			margin-right: 2px;

        }
		


.breadcrumb {
    display: flex; /* Ensure the nav items stay in one line */
    align-items: center; /* Align items vertically */
    background-color: #f9f9f9; /* Background color */
    border: 1px solid #ddd; /* Border */
    padding: 4px; /* Padding */
    margin-bottom: 5px; /* Margin bottom */
    border-radius: 4px; /* Border radius */
    justify-content: flex-end; /* Justify content to the right */
}

.breadcrumb ul {
    list-style-type: none; /* Remove default list styling */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.breadcrumb li {
    margin-left: 5px; /* Adjust spacing between list items */
}

.breadcrumb a {
    text-decoration: none; /* Remove underline from links */
	display: flex; /* Ensure the nav items stay in one line */
    color: black; /* Set link color */
}

.breadcrumb .icon {
    margin-left: 5px; /* Adjust spacing between icon and text */
}
